<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="css/reset.css">
		<!-- CSS reset -->
		<link rel="stylesheet" href="css/style.css">
		<!-- Resource style -->
		<script src="js/modernizr.js"></script>
		<!-- Modernizr -->

		<title>Tá Errado App</title>
	</head>

	<body style="background-color:#2c343b">
		<header class="cd-header">
			<div id="cd-logo">
				<a href="http://www.taerradoapp.co"><img src="img/icn_home@2x.png"></a>
			</div>
		</header>
		<section class="cd-hero">
			<ul class="cd-hero-slider">
				<li class="selected">
					<div class="cd-full-width">
						<h2>Cadastre sua nova senha</h2>

						<%
						flash.each do |name, msg| -%>
							<p>
								<%= msg%>
							</p>
							
						<%
						end
						if @user.nil? then
							%><p>Token inválido.</p><%
						else  %>

						<section class="wrapper style4 special container 75% all">
							<div class="login-form">
								<!--form-left-->
								<div class="form-left">

									<%= form_for @user, :url => { :action => :update_password }, :method => "post" do |f| %>
										<%= f.hidden_field(:reset_password_token) %>
										<div class="password">
											<span>Nova Senha</span>
											<%= f.password_field(:password, :class=>"form-control", autocomplete: "off", value: "") %>
											<div class="clear"></div>
										</div>
										<div class="password">
											<span>Confirmar</span>
											<%= f.password_field(:password_confirmation, :class=>"form-control", autocomplete: "off") %>
											<div class="clear"></div>
										</div>
	
										<%= f.submit "Salvar Senha", :class => "cd-btn" %>
									<% end %>
								</div>
						</section>
						<%end%>
					</div>
				</li>

			</ul>

		</section>
		</div>
		<div id="footer3">
			<footer class="footer4">
				© 2015 Tá Errado App. An awesome startup by <a class="link" href="http://www.doisdoissete.com">doisdoissete.</a>
			</footer>
		</div>

		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/main.js"></script>
		<!-- Resource jQuery -->
	</body>
	<% flash.clear%>
</html>