<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="css/reset.css">
		<!-- CSS reset -->
		<link rel="stylesheet" href="css/style.css">
		<!-- Resource style -->
		<script src="js/modernizr.js"></script>
		<!-- Modernizr -->

		<title>Tá Errado App</title>
	</head>

	<body style="background-color:#2c343b">
		<header class="cd-header">
			<div id="cd-logo">
				<a href="http://www.taerradoapp.co"><img src="img/icn_home@2x.png"></a>
			</div>
		</header>
		<section class="cd-hero">
			<ul class="cd-hero-slider">
				<li class="selected">
					<div class="cd-full-width">
						<h2>Cadastre sua nova senha</h2>
							<p>
								Sua nova senha foi salva com sucesso.
							</p>
					</div>
				</li>
			</ul>

		</section>
		</div>
		<div id="footer3">
			<footer class="footer4">
				© 2015 Tá Errado App. An awesome startup by <a class="link" href="http://www.doisdoissete.com">doisdoissete.</a>
			</footer>
		</div>

		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/main.js"></script>
		<!-- Resource jQuery -->
	</body>
	<% flash.clear%>
</html>