
<%=@current_user.admin ? "Imagem apagada" : "Imagem abusiva?"%>

      Usuário: <%= @user.name %> - <%= @user.email %>
      Descrição da foto: <%= @post.description %>.
      Foto: <%= @post.image %>
      

      Quem reportou?
      Usuário: <%= @current_user.name %> - <%= @current_user.email %><br>