<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Tá Errado App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
</html>

<body style="margin: 0; padding: 0;">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #f6f6f6;">
		<tr>
			<td align="" bgcolor="#3f4953" style="padding: 20px 0 20px 20px;"><img src="http://www.taerradoapp.co/img/icn_home@2x.png" alt="Tá Errado" style="display: block;" /></td>
		</tr>

		<tr>
			<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
		</tr>
		<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">

			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="color: #999999; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
				<p>
					Olá <%=@user.name%>,
				</p>
				<p>
					Uma <a href="<%=@post.image.url%>">imagem</a> que você publicou no Tá Errado App foi reportada como imprópria e, após análise, foi retirada do sistema.
				</p>
				<p>
					Caso tenha alguma dúvida, por favor entre em contato.
				</p>
				<p>
					Agradecemos sua colaboração na transformação da nossa cidade.
				</p></td>
			</tr>

			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
			</tr>

			<table>

				<tr>

				<tr>
					<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
				</tr>

				<td style="color: #999999; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;" href="mailto:contato@hippokrates.us"> Obrigado,
				<br>
				<b>Equipe Tá Errado App.</b></td>
				</tr>
			</table>
		</td>
		<tr >
			<td align="center" bgcolor="#fdd135" style="color: #666; font-family: Trebuchet MS, sans-serif; font-size: 10px;  padding: 10px 10px 30px 30px;" >
			<br style="color:white; font-size:12px; line-height: 30px;">
			© 2015 Tá Errado App. An awesome startup by <a href="http://doisdoissete.com" align="center" bgcolor="#fdd135" style="color: #666; font-family: Trebuchet MS, sans-serif; font-size: 10px;" ><b>doisdoissete.</b></a></td>
		</tr>
	</table>
</body>
</html>